300_Transformers/out
300_Transformers/train
300_Transformers/test
images/
annotations/
yolov7/
train/
val/
runs/
test/
220_GAN/saved_images_ex/
220_GAN/train_im/
*.pt
.vector_cache/
tweets_X.pkl
ind.pubmed*
!350_SemiSupervised/data/train/
!350_SemiSupervised/data/test/
*.pyc
venv/
.vscode/
*.DS_Store